/RockboxUtility
/camget
/camlistored
/cammount
/camput
/camtool
/chrome_launcher
/devcam
/dzen2
/emxkb
/exercism
/git-wip
/hello
/hsmarkdown
/k2pdfopt
/lein
/lib
/ngrok
/publisher
/skb
/src/chrome_launcher/*
!/src/chrome_launcher/*.go
!/src/chrome_launcher/*.json
/unrar-free
/xiki
